transformers
transformers[sentencepiece]
accelerate
datasets
sacrebleu 
rouge_score 
py7zr
pandas
nltk
tqdm
PyYAML
matplotlib
torch
notebook
gradio
boto3
mypy-boto3-s3
python-box==6.0.2
ensure==1.0.2
gdown
Jinja2==3.1.2
dvc
dvc[azure]
# -e .